#
# APTrust Preservation Services config file
#
# Git hash set during deployment by Ansible.
PRESERV_RELEASE="{{preserv_release}}"
# APT_ENV not required for Docker setups since we use .env as default and populate .env to bind-mount over the default in the container.
#APT_ENV="{{APT_ENV}}"
#ENVIRONMENT="{{APT_ENV}}"

DOCKER_TAG_NAME={{preserv_release}}-{{preserv_branch}}
DOCKER_DOMAIN="{{virtual_host}}"
DOCKER_DATA_PATH={{preserv_docker_data_path|d('./docker')}}
# Data path for restorations on external elastic storage.
DOCKER_RESTORE_PATH="{{preserv_data_path | d('./docker/data')}}/restore"

# Base working dir inside the containers. May be bind-mounted in docker-compose
BASE_WORKING_DIR=./data

# Profile directory exist in each service container. No local bind-mount necessary
PROFILES_DIR=./profiles

# Restore directory exist in each service container. No local bind-mount necessary
RESTORE_DIR=./restore

BUCKET_STANDARD_OR="{{preserv_bucket_standard_or}}"
BUCKET_STANDARD_VA="{{preserv_bucket_standard_va}}"
BUCKET_GLACIER_OH="{{preserv_bucket_glacier_oh}}"
BUCKET_GLACIER_OR="{{preserv_bucket_glacier_or}}"
BUCKET_GLACIER_VA="{{preserv_bucket_glacier_va}}"
BUCKET_GLACIER_DEEP_OH="{{preserv_bucket_glacier_deep_oh}}"
BUCKET_GLACIER_DEEP_OR="{{preserv_bucket_glacier_deep_or}}"
BUCKET_GLACIER_DEEP_VA="{{preserv_bucket_glacier_deep_va}}"
BUCKET_WASABI_OR="{{preserv_bucket_wasabi_or}}"
BUCKET_WASABI_VA="{{preserv_bucket_wasabi_va}}"

INGEST_TEMP_DIR="${BASE_WORKING_DIR}/tmp"
INGEST_BUCKET_READER_INTERVAL="{{preserv_ingest_bucket_reader_interval}}"
APT_QUEUE_INTERVAL="{{preserv_apt_queue_interval}}"

LOG_DIR="${BASE_WORKING_DIR}/logs"

LOG_LEVEL="{{preserv_log_level}}"
MAX_DAYS_SINCE_LAST_FIXITY="{{preserv_max_days_since_last_fixity}}"

MAX_FILE_SIZE="{{preserv_max_file_size}}"
MAX_FIXITY_ITEMS_PER_RUN="{{preserv_max_fixity_items_per_run}}"
MAX_WORKER_ATTEMPTS="{{preserv_max_worker_attempts}}"

# NSQ Settings
NSQ_LOOKUPD_TCP_ADDRESS="nsqlookupd:4160"
NSQ_LOOKUPD_HTTP_ADDRESS="nsqlookupd:4161"
NSQ_DATA_PATH="{{preserv_docker_data_path}}/nsq"
NSQ_BROADCAST_ADDRESS="nsqd"
NSQ_MSG_TIMEOUT="360m0s"
NSQ_MAX_MSG_TIMEOUT="180m0s"
NSQ_MAX_MSG_SIZE="31457280"
NSQ_MEM_QUEUE_SIZE="0"
NSQ_TCP_ADDRESS=0.0.0.0:4150
NSQ_MAX_REQ_TIMEOUT="180m0s"
NSQ_MAX_HEARTBEAT_INTERVAL="30s"

NSQ_LOOKUPD="${NSQ_LOOKUPD_HTTP_ADDRESS}"
NSQ_URL="http://${NSQ_BROADCAST_ADDRESS}:4151"

# PHAROS_API_KEY is the API key or token used to make Pharos API calls.
# For test, this key is hard-coded into the Pharos fixtures at
# test/fixtures/user.yml. The Docker container created by
# `make integration` automatically loads these fixtures on startup.
# For deployment, this will be loaded depending on deployed environment.
PRESERV_PHAROS_API_KEY="{{pharos_api_key}}"

# PHAROS_API_USER is the email address of the user making Pharos API calls.
# For test, this user is hard-coded into the Pharos test fixtures,
# like the API key above.
PRESERV_PHAROS_API_USER="{{pharos_api_user}}"
PRESERV_PHAROS_API_VERSION="v2"
PRESERV_PHAROS_URL="{{pharos_url}}"

# How often should our cron job to queue new items for fixity checks?
QUEUE_FIXITY_INTERVAL="{{preserv_queue_fixity_interval}}"

# REDIS
REDIS_DEFAULT_DB= 0
REDIS_PASSWORD=""
REDIS_RETRIES=3
REDIS_RETRY_MS=250ms
REDIS_URL="redis:6379"
REDIS_USER= ""


STAGING_BUCKET="{{preserv_staging_bucket}}"
STAGING_UPLOAD_RETRY_MS=250ms
VOLUME_SERVICE_URL="http://volume_service:8898"

# --------------------------------------------------------------------------
# Below are setings for our workers.
#
# BUFFER_SIZE  is the size of the channel buffer for Go workers.
#              Default is 20.
# WORKERS      is the number of workers (Go routines) to do the
#              work of copy files, recording metadata, etc.
#              Default is 3, but see notes below.
# MAX_ATTEMPTS is the maximum number of times a service should try
#              to complete a single WorkItem.
#              Default is 5.
# --------------------------------------------------------------------------

# apt_delete deletes files. It does not tax any resources, except
# possible Pharos in cases where it's asked to delete large numbers
# of files.
APT_DELETE_BUFFER_SIZE="{{preserv_apt_delete_buffer_size}}"
APT_DELETE_WORKERS="{{preserv_apt_delete_workers}}"
APT_DELETE_MAX_ATTEMPTS="{{preserv_apt_delete_max_attempts}}"

# apt_fixity runs scheduled fixity checks. It can tax network I/O.
APT_FIXITY_BUFFER_SIZE="{{preserv_apt_fixity_buffer_size}}"
APT_FIXITY_WORKERS="{{preserv_apt_fixity_workers}}"
APT_FIXITY_MAX_ATTEMPTS="{{preserv_apt_fixity_max_attempts}}"

# bag_restorer restores bags to the depositor's restoration bucket.
# It can be taxing on network I/O when restoring bags with many files
# or bags with large files.
BAG_RESTORER_BUFFER_SIZE="{{preserv_bag_restorer_buffer_size}}"
BAG_RESTORER_WORKERS="{{preserv_bag_restorer_workers}}"
BAG_RESTORER_MAX_ATTEMPTS="{{preserv_bag_restorer_max_attempts}}"

# file_restorer restores individual files to a depositor's restoration
# bucket. It can use a lot of network I/O when restoring large files.
FILE_RESTORER_BUFFER_SIZE="{{preserv_file_restorer_buffer_size}}"
FILE_RESTORER_WORKERS="{{preserv_file_restorer_workers}}"
FILE_RESTORER_MAX_ATTEMPTS="{{preserv_file_restorer_max_attempts}}"

# glacier_restorer initiates restoration of files from Glacier. It
# uses very few resources (very light network I/O, CPU and RAM)
GLACIER_RESTORER_BUFFER_SIZE="{{preserv_glacier_restorer_buffer_size}}"
GLACIER_RESTORER_WORKERS="{{preserv_glacier_restorer_workers}}"
GLACIER_RESTORER_MAX_ATTEMPTS="{{preserv_glacier_restorer_max_attempts}}"

# ingest_cleanup deletes interim processing data from the staging
# bucket, receiving bucket, and Redis. It uses few resources
# (very light network I/O, CPU and RAM)
INGEST_CLEANUP_BUFFER_SIZE="{{preserv_ingest_cleanup_buffer_size}}"
INGEST_CLEANUP_WORKERS="{{preserv_ingest_cleanup_workers}}"
INGEST_CLEANUP_MAX_ATTEMPTS="{{preserv_ingest_cleanup_max_attempts}}"

# format_identifier identifies the file format of items in the
# staging bucket. It can use substantial network I/O and ocassionally
# a noticeable amount of CPU.
INGEST_FORMAT_IDENTIFIER_BUFFER_SIZE="{{preserv_ingest_format_identifier_buffer_size}}"
INGEST_FORMAT_IDENTIFIER_WORKERS="{{preserv_ingest_format_identifier_workers}}"
INGEST_FORMAT_IDENTIFIER_MAX_ATTEMPTS="{{preserv_ingest_format_identifier_max_attempts}}"

# ingest_pre_fetch untars bags from receiving buckets, calculates multiple
# checksums for each file, and stores interim metadata for each file in Redis.
# This service can use a lot of bandwidth and CPU while pulling data from
# the S3 receiving bucket. It can also issue large numbers of writes to Redis,
# though that doesn't seem to be a problem.
INGEST_PRE_FETCH_BUFFER_SIZE="{{preserv_ingest_pre_fetch_buffer_size}}"
INGEST_PRE_FETCH_WORKERS="{{preserv_ingest_pre_fetch_workers}}"
INGEST_PRE_FETCH_MAX_ATTEMPTS="{{preserv_ingest_pre_fetch_max_attempts}}"

# ingest_preservation_uploader copies files from the staging bucket
# to preservation buckets. It can use a lot of network I/O, memory,
# and CPU.
#
# *** Change number of workers based on hardware's bandwidth, CPU,
# *** and RAM limits.
#
INGEST_PRESERVATION_UPLOADER_BUFFER_SIZE="{{preserv_ingest_preservation_uploader_buffer_size}}"
INGEST_PRESERVATION_UPLOADER_WORKERS="{{preserv_ingest_preservation_uploader_workers}}"
INGEST_PRESERVATION_UPLOADER_MAX_ATTEMPTS="{{preserv_ingest_preservation_uploader_max_attempts}}"

# ingest_preservation_verifier ensures that ingest_preservation_uploader
# correctly copied all files to all of the right preservation buckets.
# This worker uses light network I/O, CPU and RAM.
INGEST_PRESERVATION_VERIFIER_BUFFER_SIZE="{{preserv_ingest_preservation_verifier_buffer_size}}"
INGEST_PRESERVATION_VERIFIER_WORKERS="{{preserv_ingest_preservation_verifier_workers}}"
INGEST_PRESERVATION_VERIFIER_MAX_ATTEMPTS="{{preserv_ingest_preservation_verifier_max_attempts}}"

# ingest_recorder records metadata for all ingested items in Pharos.
# While this worker does not use many resources itself, it heavily
# taxes Pharos on both CPU and RAM. When Pharos is getting overwhelmed,
# we need to reduce the number of workers for this service.
#
# Note that this one defaults to 5 attempts instead of 3. When Pharos
# is busy, Nginx returns sporadic 502/Bad Gateway responses. The
# extra attempts account for those.
#
# *** Consider reducing number of workers when Pharos is overloaded.
#
INGEST_RECORDER_BUFFER_SIZE="{{preserv_ingest_recorder_buffer_size}}"
INGEST_RECORDER_WORKERS="{{preserv_ingest_recorder_workers}}"
INGEST_RECORDER_MAX_ATTEMPTS="{{preserv_ingest_recorder_max_attempts}}"

# ingest_staging_uploader copies individual (untarred) files from the
# tar file in the receiving bucket to a temporary staging bucket.
# This service can potentially use a lot of network I/O, RAM, and CPU
# when working with bags containing many files or large files.
#
# *** Change number of workers based on hardware's bandwidth, CPU,
# *** and RAM limits.
#
INGEST_STAGING_UPLOADER_BUFFER_SIZE="{{preserv_ingest_staging_uploader_buffer_size}}"
INGEST_STAGING_UPLOADER_WORKERS="{{preserv_ingest_staging_uploader_workers}}"
INGEST_STAGING_UPLOADER_MAX_ATTEMPTS="{{preserv_ingest_staging_uploader_max_attempts}}"

# ingest_validator validates metadata captured by ingest_pre_fetch.
# Although this worker can do huge numbers of reads and writes to
# Redis, Redis doesn't ever seem to mind.
INGEST_VALIDATOR_BUFFER_SIZE="{{preserv_ingest_validator_buffer_size}}"
INGEST_VALIDATOR_WORKERS="{{preserv_ingest_validator_workers}}"
INGEST_VALIDATOR_MAX_ATTEMPTS="{{preserv_ingest_validator_max_attempts}}"

# reingest_manager checks the file metadata collected by ingest_pre_fetch
# against Pharos, checking to see whether any files being ingested now have
# ever been ingested before. This typically runs a limited number of read
# requests against Pharos, but may occasionally issue thousands of Pharos
# reads in cases where we're re-ingesting large bags. Except in those cases,
# this service tends to use light network/RAM/CPU resources.
#
# *** Consider reducing number of workers when Pharos is overloaded.
#
REINGEST_MANAGER_BUFFER_SIZE="{{preserv_reingest_manager_buffer_size}}"
REINGEST_MANAGER_WORKERS="{{preserv_reingest_manager_workers}}"
REINGEST_MANAGER_MAX_ATTEMPTS="{{preserv_reingest_manager_max_attempts}}"

# Connection info for local S3 service. This is a minio server that
# runs in dev/test, but not demo/production.
# For localhost testing, use 'localhost' instead of '127.0.0.1' because
# Minio signed URLs use hostname, not IP.
S3_LOCAL_HOST="minio:9000"
S3_LOCAL_KEY="minioadmin"
S3_LOCAL_SECRET="minioadmin"

# AWS S3 connection info. In dev/test, point back to the local S3
# provider, so we can't overwrite anything in demo/prod.
# For localhost testing, use 'localhost' instead of '127.0.0.1' because
# Minio signed URLs use hostname, not IP.
S3_AWS_HOST="s3.amazonaws.com"
S3_AWS_KEY="{{aws_go_user}}"
S3_AWS_SECRET="{{aws_go_pwd}}"

# Wasabi S3 connection info.In dev/test, point back to the local S3
# provider, so we can't overwrite anything in demo/prod.
# For localhost testing, use 'localhost' instead of '127.0.0.1' because
# Minio signed URLs use hostname, not IP.
S3_WASABI_HOST_OR="s3.us-west-1.wasabisys.com"
S3_WASABI_HOST_VA="s3.us-east-1.wasabisys.com"
S3_WASABI_KEY="{{vault_preserv_s3_wasabi_key}}"
S3_WASABI_SECRET="{{vault_preserv_s3_wasabi_secret}}"
