{ "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "s3:ListBucket",
        "s3:ListMultipartUploadParts",
        "s3:ListBucketMultipartUploads"
      ],
      "Resource": [
        "arn:aws:s3:::aptrust.receiving.test.{{inst_id}}.{{inst_id_suffix}}",
        "arn:aws:s3:::aptrust.restore.test.{{inst_id}}.{{inst_id_suffix}}"
      ]
    },
    {
      "Effect": "Allow",
      "Action": [
        "s3:DeleteObject",
        "s3:PutObject",
        "s3:GetObject"
      ],
      "Resource": [
        "arn:aws:s3:::aptrust.receiving.test.{{inst_id}}.{{inst_id_suffix}}/*"
      ]
    },
    {
      "Effect": "Allow",
      "Action": [
        "s3:DeleteObject",
        "s3:GetObject"
      ],
      "Resource": [
        "arn:aws:s3:::aptrust.restore.test.{{inst_id}}.{{inst_id_suffix}}/*"
      ]
    }
  ]
}